@tailwind base;
@tailwind components;
@tailwind utilities;

.headerHover {
    border: 1px solid transparent;
    padding: 3px;
    cursor: pointer;
}
.headerHover:hover {
    border: 1px solid white;
}
